h1 {color :rgb(0, 80, 40) ;
    border: 1px solid rgb(155, 155, 155);
    background-color: aquamarine;
}
body {text-align: center}
body {background-image:url(31ab1673301789819d39c6e0a59da52b.png) ;
    background-size: cover;
}
body {color: aliceblue;}
body {font-size: larger;}